

<web-app>
	<display-name>Spring web app</display-name>

	<!-- Configure Spring MVC Dispatcher Servlet -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/beans.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- Set up URL mapping for Spring MVC Dispatcher Servlet -->
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>BorrameServlet</servlet-name>
		<display-name>BorrameServlet</display-name>
		<description></description>
		<servlet-class>com.gft.trainee.apimarket.servlet.BorrameServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BorrameServletTest</servlet-name>
		<display-name>BorrameServletTest</display-name>
		<description></description>
		<servlet-class>com.gdt.trainee.apimarket.servlet.BorrameServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>BorrameServlet</servlet-name>
		<url-pattern>/BorrameServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BorrameServletTest</servlet-name>
		<url-pattern>/BorrameServletTest</url-pattern>
	</servlet-mapping>





</web-app>
